.bzr
.DS_Store
build
sword_src
.idea
*.app.zip
Eloquent.xcodeproj/mbergmann.pbxuser
Eloquent.xcodeproj/mbergmann.perspectivev3
Eloquent.xcodeproj/project.xcworkspace
Eloquent.xcodeproj/xcuserdata
IconProposals
Screenshots
dsa_priv.pem
dsa_pub.pem
sign_update.rb
exportNibToStrings.sh
